/* Start Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --aside-color: white;
  --page-color: #f1f5f9;
  --gray-color: #888;
  --eee-color: #eee;
  --main-transition: 0.3s;
}

/* End Variables */
/* Start Box */
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.d-block {
  display: block;
}

@media (max-width: 767px) {
  .d-block-mobile {
    display: block;
  }
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }

  .column-mobile {
    flex-direction: column;
  }
}

.d-grid {
  display: grid;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.grow-1 {
  flex-grow: 1;
}

.w-full {
  width: 100%;
}

/* End Box */
/* Start Padding + Margin */
.p-5 {
  padding: 5px;
}
.p-8 {
  padding: 8px
}
.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

@media (max-width: 767px) {
  .p-8-mobile {
    padding: 8px;
  }
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}

.ml-5 {
  margin-left: 5px;
}


/* End Padding + Margin */
/* Start Color */
.bg-white {
  background-color: var(--aside-color);
}

.bg-red {
  background-color: var(--red-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

.bg-eee {
  background-color: var(--eee-color);
}

.c-black {
  color: black;
}

.c-white {
  color: var(--aside-color)
}

.c-gray {
  color: var(--gray-color)
}

/* End Color */
/* Start Position */
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

/* End Position */
/* Start Font */
.txt-t-c {
  text-transform: capitalize;
}

.txt-c {
  text-align: center;
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }

}

.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fw-b {
  font-weight: bold;
}

/* End Font */
/* Start Width + Height */
.w-fit {
  width: fit-content;
}

/* End Width + Height */
/* Start Border */
.rad-6 {
  border-radius: 6px;
}

.rad-circle {
  border-radius: 50%;
}

.b-none {
  border: none;
}

/* End Border */
/* Start Media */


/* End Media */

/* Start Components */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-shape {
  padding: 5px 10px;
  border-radius: 6px;
  color: white;
}
.caret-color-blue:focus {
  caret-color: var(--blue-color);
}
.c-pointer {
  cursor: pointer;
}
.trans-hov-fx:hover {
  transition: 0.3s;
  background-color: var(--blue-alt-color);
}
/* End Components */