/* Start Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --aside-color: white;
  --page-color: #f1f5f9;
  --gray-color: #888;
  --eee-color: #eee;
  --main-transition: 0.3s;
}

/* End Variables */
/* Start Components */
.main-title {
  --main-title-color: #000;
  position: relative;
  color: var(--main-title-color);
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 4px;
}

.main-title::before {
  width: 100px;
  height: 4px;
  background-color: var(--aside-color);
}

.main-title::after {
  width: 40px;
  height: 4px;
  background-color: var(--main-title-color);
  animation: move-right-left 2s infinite linear;
}

@keyframes move-right-left {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(calc(100px - 40px));
  }
}

/* End Components */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #0077ff4e;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 8px;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Start Main Wrapper */
.main-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
}

@media (max-width: 767px) {
  .main-wrapper {
    grid-template-columns: minmax(200px, 1fr);
  }
}

/* End Main Wrapper */
/* End Global Rules */
.page {
  background-color: var(--page-color);
  min-height: 100vh;
}

/* Start sidebar */
aside {
  background-color: var(--aside-color);
  box-shadow: 0 0 10px #ddd;
  position: relative;
  /* To make it above all elements specially main section*/
}

@media (min-width: 768px) {
  aside {
    width: 250px;
    padding: 20px !important;
  }

  aside>h3::before,
  aside>h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
  }

  aside>h3::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid var(--aside-color);
    bottom: -20px;
    z-index: 1;
  }

  aside>h3::after {
    width: 80px;
    height: 2px;
    border-radius: 3px;
    bottom: -13px;
  }
}

aside ul li {
  margin-bottom: 18px;
}

aside ul li a {
  transition: var(--main-transition);
}

aside ul li a:hover,
aside ul li a.active {
  background-color: #f6f6f6;
  color: var(--blue-color);
}

@media (min-width: 768px) {
  aside ul li a {
    gap: 10px;
    padding: 10px !important;
  }
}

@media (max-width: 767px) {
  aside ul li a {
    justify-content: center;
  }

  aside ul li a i {
    font-size: 19px;
  }
}

/* End sidebar */
/* Start Top Bar */
main {
  overflow: hidden;
  /* To fix grid overflowing out of page*/
}

.top-bar {
  background-color: var(--aside-color);
}

.top-bar .search::before {
  content: "\f002";
  font-weight: 900;
  font-family: var(--fa-style-family-classic);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  color: var(--gray-color);
}

.top-bar .search input[type="search"] {
  width: 150px;
  transition: var(--main-transition);
  padding-left: 26px;
  border: 1px solid #ccc;
}

.top-bar .search input[type="search"]::placeholder {
  font-size: 13px;
}

.top-bar .search input[type="search"]:focus {
  width: 200px;
}

.top-bar .icons .notifications::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: red;
  top: -5px;
  right: -5px;
}

.top-bar .icons img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

/* End Top Bar */
/* Start Welcome section */
.welcome {
  overflow: hidden;
}

.welcome .head+img {
  width: 64px;
  height: 64px;
  border: 2px solid var(--aside-color);
  box-shadow: 0 0 5px #ddd;
  margin-left: 28px;
  margin-top: -32px;
}

@media (max-width: 767px) {
  .welcome .head+img {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .welcome .head .text {
    padding-bottom: 50px;
  }
}

.welcome .head img {
  width: 170px;
  right: 15px;
  top: 7px;
  margin-bottom: 15px;
}

.welcome .body {
  border-top: 1px solid var(--eee-color);
  border-bottom: 1px solid var(--eee-color);
}

.welcome .body>div {
  padding: 10px;
}

@media (max-width: 767px) {
  .welcome .body>div:not(:last-child) {
    margin-bottom: 10px;
  }
}

.welcome .body>div>div {
  font-weight: bold;
  font-size: 18px;
}

.welcome .visit {
  margin: 20px 10px 20px auto;
}

@media (max-width: 767px) {
  .welcome .visit {
    margin-right: auto;
  }
}

/* End Welcome section */
/* Start Quick-draft section */
.quick-draft form textarea {
  min-height: 180px;
}

.quick-draft form input[type="submit"] {
  margin-left: auto;
}

/* End Quick-draft section */
/* Start Yearly Target */
.details .target-row .icon {
  width: 80px;
  height: 80px;
}

@media (max-width: 767px) {
  .details .target-row .icon {
    width: 62px;
    height: 62px;
  }
}

.details .target-row .icon.blue,
.details .progress.blue {
  background-color: rgb(0 117 255 / 20%);
}

.details .target-row .icon.orange,
.details .progress.orange {
  background-color: rgb(245 158 11 / 20%);
}

.details .target-row .icon.green,
.details .progress.green {
  background-color: rgb(34 197 94 / 20%);
}

.details .target-row .icon .blue {
  color: var(--blue-color);
}

.details .target-row .icon .orange {
  color: var(--orange-color);
}

.details .target-row .icon i.green {
  color: var(--green-color);
}

.details .progress {
  height: 3px;
}

.details .progress>span {
  height: 100%;
}

.details .progress .blue {
  background-color: var(--blue-color);
}

.details .progress .orange {
  background-color: var(--orange-color);
}

.details .progress .green {
  background-color: var(--green-color);
}

.details .progress>span>span {
  right: 0;
  bottom: 18px;
  transform: translateX(50%);
  border-radius: 4px;
  font-size: 13px;
  color: white;
  padding: 3px 5px;
}

.details .progress>span>span::before {
  content: "";
  position: absolute;
  right: 2px;
  top: 20px;
  transform: translateX(-50%);
  border-color: transparent;
  border-style: solid;
  border-width: 8px;
}

.details .progress>span>span.blue::before {
  border-top-color: var(--blue-color);
}

.details .progress>span>span.orange::before {
  border-top-color: var(--orange-color);
}

.details .progress>span>span.green::before {
  border-top-color: var(--green-color);
}

/* End Yearly Target */
/* Start stat */
.stat .stat-content .stat-item {
  width: 100%;
  border: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .stat .stat-content {
    gap: 4%;
  }

  .stat .stat-content .stat-item {
    flex-basis: 48%;
  }
}

.stat .stat-content .stat-item:first-child .list-icon {
  color: var(--orange-color);
}

.stat .stat-content .stat-item:nth-child(2) .pending-icon {
  color: var(--blue-color);
}

.stat .stat-content .stat-item:nth-child(3) .closed-icon {
  color: var(--green-color);
}

.stat .stat-content .stat-item:last-child .delete-icon {
  color: var(--red-color);
}

/* End stat */
/* Start latest News */
.news-item:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
  .news-item {
    flex-direction: column;
  }

  .news-item .news-text {
    text-align: center;
    flex-direction: column;
    gap: 8px;
  }
}

.news-item .image img {
  width: 82px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .news-item .image img {
    width: 172px;
  }
}

.news-item .news-text>div .news-title {
  font-size: 16px;
}

.news-item .news-text>div .news-title+span {
  font-size: 13px;
}

/* End latest News */
/* Start Latest-tasks */
.latest-tasks .task:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-tasks .task .recyle-icon {
  transition: var(--main-transition);
}

.latest-tasks .task:not(.done) .recyle-icon:hover {
  color: var(--red-color);
}

.latest-tasks .task.done {
  opacity: 0.3;
}

.latest-tasks .task.done h3,
.latest-tasks .task.done p {
  text-decoration: line-through;
}

.latest-tasks .task.done .recyle-icon {
  cursor: no-drop;
}

/* End Latest-tasks */
/* Start Latest Uploads */
.latest-uploads .file .file-desc img {
  width: 45px;
}

.latest-uploads .file:not(:last-child) {
  border-bottom: 1px solid #eee;
}

/* End Latest Uploads */
/* Start Last Project Progress */
.last-project-progress img {
  width: 100px;
  right: 0;
  bottom: 0;
  opacity: 0.2;
}

.last-project-progress .last-project-list::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
  left: 11px;
}

.last-project-progress .last-project-list li {
  gap: 15px;
}

.last-project-progress .last-project-list li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  z-index: 1;
}

.last-project-progress .last-project-list li.done::before {
  background-color: var(--blue-color);
}

.last-project-progress .last-project-list li.current::before {
  animation: change-color 0.5s infinite alternate cubic-bezier(0.65, 0.05, 0.36, 1);
}

/* End Last Project Progress */
/* Start Reminders */
.reminders .reminders-list li>span {
  width: 15px;
  height: 15px;
}

.reminders .reminders-list li .reminder-desc::before {
  content: "";
  position: absolute;
  width: 2.5px;
  height: 100%;
  left: 0;
}

.reminders .reminders-list li>span.blue,
.reminders .reminders-list li .reminder-desc.blue::before {
  background-color: var(--blue-color);
}

.reminders .reminders-list li>span.green,
.reminders .reminders-list li .reminder-desc.green::before {
  background-color: var(--green-color);
}

.reminders .reminders-list li>span.orange,
.reminders .reminders-list li .reminder-desc.orange::before {
  background-color: var(--orange-color);
}

.reminders .reminders-list li>span.red,
.reminders .reminders-list li .reminder-desc.red::before {
  background-color: var(--red-color);
}

/* End Reminders */
/* Start Latest Post */
.latest-post .post-head .avatar {
  width: 50px;
}

.latest-post p {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 1.7;
  min-height: 130px;
}

/* End Latest Post */
/* Start Social Media stats */
.social-media-stats .social-box {
  padding-right: 17px;
}

@media (max-width: 767px) {
  .social-media-stats .social-box {
    padding-right: 10px;
  }

  .social-media-stats .social-box .social-icon {
    margin-right: 8px;
  }
}

.social-media-stats .social-box.twitter {
  color: #1da1f2;
  background-color: rgb(29 161 242 / 20%);
}

.social-media-stats .social-box.facebook {
  color: #1877f2;
  background-color: rgb(24 119 242 / 20%);
}

.social-media-stats .social-box.youtube {
  color: #ff0000;
  background-color: rgb(255 0 0 / 20%);
}

.social-media-stats .social-box.linkedin {
  color: #0077b5;
  background-color: rgb(0 119 181 / 20%);
}

.social-media-stats .social-box .social-icon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  transition: var(--main-transition);
}

.social-media-stats .social-box .social-icon:hover {
  transform: rotate(5deg);
}

.social-media-stats .social-box .link {
  transition: var(--main-transition);
}

.social-media-stats .social-box.twitter .twitter-icon,
.social-media-stats .social-box.twitter .link {
  background-color: #1da1f2;
}

.social-media-stats .social-box.twitter .link:hover {
  background-color: #1da0f2c4;
}

.social-media-stats .social-box.facebook .facebook-icon,
.social-media-stats .social-box.facebook .link {
  background-color: #1877f2;
}

.social-media-stats .social-box.facebook .link:hover {
  background-color: #1876f2cf;
}

.social-media-stats .social-box.youtube .youtube-icon,
.social-media-stats .social-box.youtube .link {
  background-color: #ff0000;
}

.social-media-stats .social-box.youtube .link:hover {
  background-color: #ff00008f;
}

.social-media-stats .social-box.linkedin .linkedin-icon,
.social-media-stats .social-box.linkedin .link {
  background-color: #0077b5;
}

.social-media-stats .social-box.linkedin .link:hover {
  background-color: #0076b5a2;
}

/* End Social Media stats */
/* Start Projects Table */
.projects-table .responsive-table {
  overflow-x: auto;
}

.projects-table .responsive-table::-webkit-scrollbar {
  height: 12px;
  background-color: whitesmoke;
}

.projects-table .responsive-table::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.projects-table .responsive-table::-webkit-scrollbar-thumb:hover {
  background-color: purple;
}

.projects-table .responsive-table table {
  border-spacing: 0;
  min-width: 1229.2px;
  max-width: 100%;
}

.projects-table .responsive-table table thead th {
  background-color: #eee;
}

.projects-table .responsive-table table thead th,
.projects-table .responsive-table table tbody td {
  padding: 10px;
}

.projects-table .responsive-table table tbody tr td {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.projects-table .responsive-table table tbody tr td:last-child {
  border-right: 1px solid #eeee;
}

.projects-table .responsive-table table tbody tr td::selection {
  background-color: var(--orange-color);
}

.projects-table .responsive-table table tbody tr td,
.projects-table .responsive-table table tbody tr {
  transition: var(--main-transition);
}

.projects-table .responsive-table table tbody tr:hover {
  background-color: var(--gray-color);
}

.projects-table .responsive-table table tbody tr td:not(:first-child):hover {
  background-color: darkslateblue;
  color: white;
}

.projects-table .responsive-table table tbody tr td:not(:first-child):hover,
.projects-table .responsive-table table tbody tr td:not(:first-child):hover+td {
  border-left-color: darkslateblue;
}

.projects-table .responsive-table table tbody tr td img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
  transition: var(--main-transition);
}

.projects-table .responsive-table table tbody tr td img:not(:first-child) {
  margin-left: -15px;
}

.projects-table .responsive-table table tbody tr td img:hover {
  position: relative;
  padding: 0;
  background-color: transparent;
  transform: scale(1.3);
}

/* End Projects Table */
/* Start Settings Page */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.toggle-switch {
  width: 78px;
  height: 32px;
  background-color: #ccc;
  border-radius: 16px;
  cursor: pointer;
}

.toggle-switch::before,
.toggle-switch {
  transition: var(--main-transition);
}

.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red-color);
  top: 4px;
  left: 4px;
}

.toggle-checkbox:checked+.toggle-switch {
  background-color: var(--blue-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--green-color);
}

/* End Settings Page */
/* Start Site Control section */
.site-control .close-message {
  border: 1px solid #ccc;
  min-height: 165px;
}

/* End site Control section */
/* Start General Info */
.general-info .email {
  margin-right: 10px;
  width: calc(100% - 71px);
}

.general-info input[type="email"]:disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}

/* End General Info */
/* Start Social info section */
.social-info .social-info-box input[type="text"] {
  background-color: #f6f6f6;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #ddd;
  border-radius: 0 5px 5px 0;
}

.social-info .social-info-box .icon {
  background-color: #f6f6f6;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 5px 0 0 5px;
  transition: var(--main-transition);
}

.social-info .social-info-box:focus-within .icon {
  color: black;
}

/* End Social info section */
/* Start Widgets Control Section */
.widgets-control .control-box input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.widgets-control .control-box input[type="checkbox"]+label {
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.widgets-control .control-box input[type="checkbox"]+label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid black;
  transition: var(--main-transition);
}

.widgets-control .control-box input[type="checkbox"]+label:hover::before {
  border-color: var(--blue-alt-color);
}

.widgets-control .control-box input[type="checkbox"]+label::after {
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  background-color: var(--blue-alt-color);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 17px;
  height: 17px;
  content: "\f00c";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8.5px;
  transform: scale(0) rotate(360deg);
  transition: var(--main-transition);
}

.widgets-control .control-box input[type="checkbox"]:checked+label::after {
  transform: scale(1);
}

/* End Widgets Control Section */
/* Start Backup Control section */
.backup-manager .radio-box input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.backup-manager .radio-box input[type="radio"]+label {
  padding-left: 25px;
  user-select: none;
  cursor: pointer;
}

.backup-manager .radio-box input[type="radio"]+label::before,
.backup-manager .radio-box input[type="radio"]+label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.backup-manager .radio-box input[type="radio"]+label::before {
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-transition);
}

.backup-manager .radio-box input[type="radio"]+label:hover::before,
.backup-manager .radio-box input[type="radio"]:checked+label::before {
  border-color: var(--blue-color);
}

.backup-manager .radio-box input[type="radio"]+label::after {
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  left: 2.5px;
  top: 50%;
  margin-top: -6px;
  transform: scale(0);
  transition: var(--main-transition);
}

.backup-manager .radio-box input[type="radio"]:checked+label::after {
  transform: scale(1);
}

.backup-manager .backup-location-box>div input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.backup-manager .backup-location-box>div>label,
.backup-manager .backup-location-box>div>label .icon,
.backup-manager .backup-location-box>div>label span {
  transition: var(--main-transition);
}

.backup-manager .backup-location-box>div>label {
  cursor: pointer;
  user-select: none;
}

.backup-manager .backup-location-box>div>input[type="radio"]:checked+label {
  border: 1px solid var(--blue-color);
}

.backup-manager .backup-location-box>div>input[type="radio"]:checked+label span,
.backup-manager .backup-location-box>div>input[type="radio"]:checked+label .icon {
  color: var(--blue-color);
}

@media (max-width: 767px) {
  .backup-manager .backup-location-box {
    flex-wrap: wrap;
  }
}

/* End Backup Control section */
/* Start profile-page */
@media (max-width: 767px) {
  .profile-container {
    flex-direction: column;
  }
}

.profile-container .avatar-box {
  width: 250px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .profile-container .avatar-box {
    border-right: 1px solid #eee;
  }
}

.profile-container .avatar-box>img {
  width: 120px;
  height: 120px;
}

.profile-container .avatar-box .progress {
  height: 6px;
  width: 70%;
}

.profile-container .avatar-box .progress span {
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 6px;
}

.profile-container .profile-info .info-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@media (min-width: 768px) {
  .profile-container .profile-info .info-row>div {
    min-width: 250px;
  }
}

@media (max-width: 767px) {
  .profile-container .profile-info .info-row>div {
    width: 100%;
  }

  .profile-container .profile-info .info-row label {
    margin: auto;
  }
}

.profile-container .profile-info .info-row .toggle-switch {
  height: 22px;
  border-radius: 11px;
}

.profile-container .profile-info .info-row .toggle-switch::before {
  top: 2.5px;
  width: 17px;
  height: 17px;
  left: 2px;
}

.profile-container .profile-info .info-row .toggle-checkbox:checked+.toggle-switch::before {
  left: 59px;
}

.skills-activities-container .skills {
  flex-grow: 1.5;
}

@media (max-width: 767px) {
  .skills-activities-container .skills .skills-list li {
    justify-content: center;
  }
}

.skills-activities-container .skills .skills-list li:not(:last-child) {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.skills-activities-container .last-activities {
  flex-grow: 2;
}

.skills-activities-container .last-activities .activity-row:not(:last-of-type) {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.skills-activities-container .last-activities .activity-row p {
  color: gray;
}

.skills-activities-container .last-activities .activity-row img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .skills-activities-container .last-activities .activity-row .time {
    text-align: right;
  }

  .skills-activities-container .last-activities .activity-row img {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .skills-activities-container .last-activities .activity-row {
    gap: 10px;
  }
}

/* End profile-page */
/* Start Projects page */
.project .project-text p {
  min-height: 32.5px;
}

.project .images {
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .project .images {
    margin-top: 20px;
  }
}

.project .images img {
  width: 35px;
  height: 35px;
  padding: 2px;
  background-color: white;
  transition: position var(--main-transition), transform var(--main-transition);
}

.project .images img:hover {
  position: relative;
  padding: 0;
  transform: scale(1.2);
}

.project .images img:not(:first-child) {
  margin-left: -15px;
}

.project .tags {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.project .tags li {
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .project .tags li {
    justify-content: center;
  }
}

.project .progress {
  height: 6px;
  width: 48%;
}

.project .progress span {
  left: 0;
  top: 0;
  height: 100%;
}

.project .money::first-letter {
  margin-right: 2px;
}

/* End Projects page */
/* Start Courses Page */
.courses.main-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
}

@media (max-width: 767px) {
  .courses.main-wrapper {
    grid-template-columns: minmax(200px, 1fr);
  }
}

.course .image .course-img {
  width: 100%;
}

.course .image .instructor-img {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  left: 10px;
  top: 10px;
}

.course .course-text {
  min-height: 184px;
}

.course .course-text .title {
  font-size: 16px;
}

.course .course-text p {
  line-height: 1.6;
  font-size: 14px;
  min-height: 106px;
}

.course .course-stat {
  border-top: 1px solid #eee;
}

.course .course-stat a {
  top: -1px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* End Courses Page */
/* Start Friends Page */
.friends.main-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
}

@media (max-width: 767px) {
  .friends.main-wrapper {
    grid-template-columns: minmax(200px, 1fr);
  }
}

.friend .contact {
  top: 8px;
  left: 5px;
}

.friend .contact .icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: var(--main-transition);
}

.friend .contact .icon:hover {
  background-color: var(--blue-alt-color);
  color: white;
}

.friend .friend-profile img {
  width: 100px;
  height: 100px;
}

.friend .friend-info {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.friend .friend-info .vip-tag {
  font-weight: bold;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  opacity: 0.27;
}

.friend .friend-info .friend-stat:not(:last-of-type) {
  margin-bottom: 15px;
}

.friend .friend-info .friend-stat .icon {
  margin-right: 5px;
  font-size: 13px;
}

.friend .friend-info .friend-stat .icon+span {
  font-weight: 400;
}

.friend .friend-options a {
  transition: 0.3s;
}

.friend .friend-options .links a:first-child:hover {
  background-color: var(--blue-alt-color);
}

.friend .friend-options .links a:last-child:hover {
  background-color: #f44336de;
}

/* End Friends Page */
/* Start Files Page */

.files.main-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(183px, 1fr));
}

@media (min-width: 768px) {
  .grid-flex-container {
    align-items: flex-start;
  }

  .grid-flex-container .upload-file {
    min-width: 250px;
  }
}

@media (max-width: 767px) {
  .grid-flex-container .upload-file {
    order: -1;
  }
}

.upload-file .file-stat .icon {
  width: 40px;
  height: 40px;
}

.upload-file .file-stat .blue {
  background-color: rgb(0 117 255 / 20%);
}

.upload-file .file-stat .green {
  background-color: rgb(34 197 94 / 20%);
}

.upload-file .file-stat .red {
  background-color: rgb(244 67 54 / 20%);
}

.upload-file .file-stat .orange {
  background-color: rgb(245 158 11 / 20%);
}

.upload-file .upload {
  padding: 10px 20px;
}

.upload-file .upload .icon {
  animation: up-down infinite 0.8s;
}

.files .file .download-icon {
  cursor: pointer;
  top: 7px;
  left: 10px;
  transition: var(--main-transition);
}

.files .file .download-icon:hover {
  color: var(--blue-color);
  text-shadow: 0px 0px 2px black;
}

.files .file .icon img {
  width: 80px;
  height: 80px;
  transition: var(--main-transition);
}

.files .file .icon img:hover {
  transform: rotate(3deg);
}

/* End Files Page */
/* Start Plans Page */
.plans.main-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

@media (max-width: 767px) {
  .plans.main-wrapper {
    grid-template-columns: minmax(200px, 1fr);
  }
}

.plan .head {
  border: 3px solid white;
  outline: 3px solid white;
}

.plan .head.green {
  outline-color: var(--green-color);
}

.plan .head.blue {
  outline-color: var(--blue-color);
}

.plan .head.orange {
  outline-color: var(--orange-color);
}

.plan .head h3 {
  font-size: 23px;
}

.plan .head .price {
  font-size: 45px;
}

.plan .head .price span {
  font-size: 23px;
  top: 0;
  left: -18px;
}

.plan .features-list {
  margin-top: 8px;
}

.plan .features-list li {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}

.plan .features-list i:first-child {
  font-size: 18px;
  margin-right: 5px;
}

.plan .features-list li span {
  flex-grow: 1;
}

.plan .features-list li i.yes {
  color: var(--green-color);
}

.plan .features-list li i.help {
  color: var(--gray-color);
  cursor: pointer;
}

.plan .features-list li i:not(.yes, .help) {
  color: var(--red-color);
}

.plan a {
  padding: 10px 20px;
  font-size: 18px;
}

/* End Plans Page */
/* Start Animation */
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }

  to {
    background-color: white;
  }
}

@keyframes up-down {

  0%,
  100% {
    transform: translateY(2px);
  }

  50% {
    transform: translateY(-2px);
  }
}

/* End Animation */